/*
FOOTER
-------------------------------------------- */

.site__footer {
  // background: $borderColor;
  color: darken($jazzColor, 60%);
  padding: $spacing-m 0;
  font-size: 90%;
  @extend %secondarytype;
  h2:first-child {
    margin-top: 0;
  }
  p {
    line-height: 160%;
  }
}

.social-icons {
  list-style-type: none;
  margin: 0;
  a {
    text-decoration: none !important;
    text-align: center;
    font-size: 1.2em;
  }
}
