/*
FOOTER
-------------------------------------------- */

.site__footer {
  // background: $borderColor;
  color: darken($jazzColor, 60%);
  padding: $spacing-m 0;
  font-size: 85%;
  h4:first-child {
    margin-top: 0;
  }
}

.social-icons {
  list-style-type: none;
  margin: 0;
  a {
    text-decoration: none !important;
    text-align: center;
    font-size: 1.15em;
  }
}
