/*

HEADER
---------------------------------------------------------

*/

.site__header {
  background: $darkColor;
  font-size: 85%;
  padding: $spacing-xs 0;
  @extend %secondarytype;
  @include breakpoint(m) {
    padding: 20px 0;
  }
}

.site__branding {
  @extend .grid2;
  @extend .left;
  @include breakpoint(m) {
    width: 14.893617%;
    min-width: 50px;
    margin-right: percentage(40/940);
  }
  a {
    display: inline-block;
  }
  img {
    float: left;
    margin-right: $spacing-xl;
    @include breakpoint(m) {
      margin: 0;
      float: none;
    }
  }
  h1 {
    color: white;
    font-weight: 800;
    margin: $spacing-l 0 0;
  }
}

.nav_and_search {
  width: 70%;
  @include breakpoint(m) {
    margin: 0 auto;
    float: none;
  }
  @include breakpoint(xs) {
    width: 92%;
  }
}

.site__nav {
  margin: percentage(82/940) percentage(60/940) 0 0;
  @include breakpoint(s) {
    margin: percentage(65/940) percentage(60/940) 0 0;
  }
  ul {
    @extend %clearfix;
    white-space: nowrap;
    margin: 0;
    li {
      display: inline;
      margin-right: 1em;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: darken($darkColor, 20%);
        font-weight: 700;
        text-decoration: none !important;
        &:hover {
          color: darken($darkColor, 35%);
        }
      }
    }
  }
}

.site__search {
  margin: percentage(70/940) 0 0;
  @include breakpoint(s) {
    margin: percentage(45/940) 0 0;
    width: 40%;
    input {
      width: 100%;
    }
  }
}
