/*

HEADER
---------------------------------------------------------

*/

.site__header {
  background: $darkColor;
  font-size: 85%;
  padding: $spacing-xs 0;
  @extend %secondarytype;
  // .contain {
  //   border-bottom: 5px solid $darkColor;
  //   padding-bottom: $spacing-l;
  // }
}

.site__branding {
  @extend .grid2;
  @extend .left;
  img {
    float: left;
    margin-right: $spacing-xl;
  }
  h1 {
    color: white;
    font-weight: 800;
    margin: $spacing-l 0 0;
  }
}

.site__nav {
  margin: percentage(82/940) percentage(60/940) 0 0;
  ul {
    @extend %clearfix;
    white-space: nowrap;
    li {
      // float: left;
      display: inline;
      margin-right: percentage(90/940);
      a {
        color: darken($darkColor, 20%);
        font-weight: 700;
        text-decoration: none !important;
        &:hover {
          color: darken($darkColor, 35%);
        }
      }
    }
  }
}

.site__search {
  margin: percentage(70/940) 0 0;
}
