/*

HEADER
---------------------------------------------------------

*/

.site__header {
  background: $darkColor;
  font-size: 85%;
  padding: $spacing-xs 0;
  @extend %secondarytype;
  @include breakpoint(m) {
    padding: 20px 0;
  }
  // .contain {
  //   border-bottom: 5px solid $darkColor;
  //   padding-bottom: $spacing-l;
  // }
}

.site__branding {
  @extend .grid2;
  @extend .left;
  text-align: center;
  a {
    display: inline-block;
  }
  img {
    float: left;
    margin-right: $spacing-xl;
    @include breakpoint(m) {
      margin: 0;
      float: none;
    }
  }
  h1 {
    color: white;
    font-weight: 800;
    margin: $spacing-l 0 0;
  }
}

.nav_and_search {
  width: 70%;
  margin: 0 auto;
  float: none;
  @include breakpoint(s) {
    width: 83%;
  }
}

.site__nav {
  margin: percentage(82/940) percentage(60/940) 0 0;
  @include breakpoint(m) {
    // float: none;
    // margin: 1em 0 0;
  }
  @include breakpoint(xs) {
    margin: percentage(90/940) percentage(60/940) 0 0;
  }
  ul {
    @extend %clearfix;
    white-space: nowrap;
    margin: 0;
    li {
      // float: left;
      display: inline;
      margin-right: 1em;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: darken($darkColor, 20%);
        font-weight: 700;
        text-decoration: none !important;
        &:hover {
          color: darken($darkColor, 35%);
        }
      }
    }
  }
}

.site__search {
  margin: percentage(70/940) 0 0;
  @include breakpoint(m) {
    // float: none;
    // margin: 1.8em 0 0;
  }
}
