/*
MAIN CONTENT
-------------------------------------------- */

// Front Page

.site__headline {
  margin: 0 0 $spacing-xxs;
  h1 {
    font-size: 200%;
    line-height: 150%;
    font-weight: 800;
    @include breakpoint(m) {
      font-size: 170%;
    }
  }
}

.services {
  h3 {
    margin-top: 0;
  }
  @include breakpoint(m) {
    .grid4 {
      width: 100%;
    }
  }
}

.the-book {
  figure.fullsize {
    margin: 0;
    width: auto;
  }
}

.secondary__projects {
  margin-bottom: 0;
  @include breakpoint(m) {
    .grid6.columns {
      width: 100%;
    }
    .grid2 {
      width: 15%;
    }
    .grid10 {
      width: 80%;
    }
  }
}


.site__content {
  background: white;
  padding: $spacing-xl 0 $spacing-m;
}

.post__meta {
  margin: 0 0 2em;
}

.post__title {
  margin-bottom: .4em;
}

.pubdate {
  color: lighten($headingColor, 35%);
  font-size: 85%;
  margin: 0 0 .8em;
  @extend %secondarytype;
}

.post__recent-post {
  h6 {
    margin-top: $spacing-s;
  }
  p {
    font-size: 95%;
  }
}

// Blog Index
.blog {
  .entry {
    // margin-bottom: 5em;
  }
  .post__meta {
    margin-bottom: .9em;
  }
}

// Comment Styles

#comments {
  margin: $spacing-xl 0 0;
  @include breakpoint(m) {
    p {
      font-size: 1em;
    }
  }
  ol {
    list-style-type: none;
    margin: 0;
  }
  a {
    text-decoration: none !important;
  }
}

.comment {
  border-bottom: 1px solid $borderColor;
  padding: $spacing-xl 0;
  &:last-child {
    border-bottom: none;
  }
}

.comment-author {
  @extend %secondarytype;
  font-size: 100%;
  a, cite {
  font-weight: 700;
  }
  img {
    float: left;
    margin: 0 $spacing-s 0 0;
  }
}

.comment-meta {
  margin: 0 0 $spacing-m;
  @extend %secondarytype;
  @include breakpoint(m) {
    margin: 0 0 $spacing-l;
  }
  a {
    color: lighten($bodyColor, 30%);
    font-size: 90%;
  }
}

.says {
  display: none;
}

.comment-reply-link {
  font-size: 85%;
}
