/*

BUTTONS
--------------------------------------------------------- */

.button {
  background: $linkColor;
  padding: 8px 15px;
  color: white;
  font-size: 85%;
  font-weight: bold;
  text-decoration: none !important;
  -webkit-appearance: none;
  @extend %secondarytype;
  @include border-radius(2px);
  @include transition(background .2s ease-in-out);
  &:hover, &:focus {
    background: darken($linkColor, 5%);
    color: white;
  }
}
