/*

FORMS
-------------------------------------------

*/

// Search

.site__search {
  input {
    background: white;
    border: 1px solid $borderColor;
    border-radius: 3px;
    padding: $spacing-l $spacing-xl;
    @include transition(.2s ease-in-out);
    &:focus {
      // box-shadow: inset 1px 1px 2px rgba(black, .1), 0 0 3px $darkColor;
      border-color: darken($borderColor, 10%);
    }
  }
}


// Email

.post__newsletter {
  font-size: 95%;
  @extend %secondarytype;
}

#subscribe-email {
  float: left;
  width: 75%;
  padding-right: 3.5%;
}

#subscribe-email input {
  background: white;
  border: 1px solid $borderColor;
  border-radius: 3px;
  color: lighten($bodyColor, 30%);
  padding: 10px 15px;
  width: 100%;
  @include transition(.2s ease-in-out);
  &:focus {
    border-color: darken($borderColor, 10%);
    color: lighten($bodyColor, 10%);
  }
}

#subscribe-submit {
  float: left;
  padding-left: 3.5%;
  width: 25%;
}

#subscribe-submit input[type="submit"] {
  background: $darkColor;
  color: white;
  border-radius: 3px;
  padding: 10px 15px;
  width: 100%;
  @include transition(.2s ease-in-out);
  &:hover, &:focus {
    background: darken($darkColor, 5%);
  }
}




input:focus::-webkit-input-placeholder {
        color: lighten($bodyColor, 40%);
}

::-webkit-input-placeholder {
   color: lighten($bodyColor, 30%);
   @include transition(all .2s ease-in-out);
}

input:focus:-moz-placeholder {
        color: lighten($bodyColor, 40%);
}

:-moz-placeholder { /* Firefox 18- */
   color: lighten($bodyColor, 30%);
   @include transition(all .2s ease-in-out);
}

input:focus::-moz-placeholder {
        color: lighten($bodyColor, 40%);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: lighten($bodyColor, 30%);
   @include transition(all .2s ease-in-out);
}
