/*

FORMS
-------------------------------------------

*/

// Search

.site__search {
  input {
    background: white;
    // border: 1px solid $borderColor;
    border-radius: 3px;
    padding: 10px 20px;
    @include transition(.2s ease-in-out);
    @include breakpoint(m) {
      padding: 10px;
    }
    &:focus {
      // box-shadow: inset 1px 1px 2px rgba(black, .1), 0 0 3px $darkColor;
      border-color: darken($borderColor, 10%);
    }
  }
}


// Email

.post__newsletter {
  @extend %secondarytype;
}

#subscribe-email {
  float: left;
  width: 75%;
  padding-right: 3.5%;
  @include breakpoint(m) {
    width: 65%;
  }
}

#subscribe-email input {
  background: white;
  border: 1px solid $borderColor;
  border-radius: 3px;
  color: lighten($bodyColor, 30%);
  font-size: 90%;
  padding: 10px 15px !important;
  width: 100% !important;
  @include transition(.2s ease-in-out);
  &:focus {
    border-color: darken($borderColor, 10%);
    color: lighten($bodyColor, 10%);
  }
}

#subscribe-submit {
  float: left;
  padding-left: 3.5%;
  width: 25%;
  @include breakpoint(m) {
    width: 35%;
  }
}

#subscribe-submit input[type="submit"] {
  background: $darkColor;
  color: white;
  border-radius: 3px;
  font-size: 90%;
  padding: 10px 15px;
  width: 100%;
  @include transition(.2s ease-in-out);
  &:hover, &:focus {
    background: darken($darkColor, 5%);
  }
}


// Gravity Forms

.gform_wrapper {
  // border-top: 1px solid $borderColor;
  // padding: 5% 0 0;
  // margin: 5% 0 0;
  list-style-type: none;
  @media screen and (max-width: 700px ) {
    margin: 5% 0 0;
  }
}

.gform_body {
  padding: 0 1px;
  label {
    line-height: 1;
  }
}

#gform_fields_1, #gform_fields_2, #gform_fields_3, #gform_fields_4 {
  list-style-type: none;
  margin: 0;
}

.gfield {
  float: left;
  margin: 0 percentage(20/940) $spacing-m 0;
  width: 48.9361702%;
  &:nth-child(2n+2) {
    margin-right: 0;
  }
}

#field_1_5 {
  float: none;
  width: 100%;
  @extend %clearfix;
}

.gfield_label {
  display: block;
  font-size: .95em;
  font-weight: bold;
  margin: 0 0 02.34375%;
  @extend %secondarytype;
}

.ginput_left {
  width: 50%;
  display: inline-block;
  position: relative;
  padding-right: 5px;
  label {
    color: lighten($bodyColor, 45%);
    font-weight: bold;
    font-size: .75em;
    position: absolute;
    bottom: 5px;
    right: 15px;
  }
}

.ginput_right {
  width: 50%;
  display: inline-block;
  position: relative;
  padding-left: 5px;
  label {
    color: lighten($bodyColor, 45%);
    font-weight: bold;
    font-size: .75em;
    position: absolute;
    bottom: 5px;
    right: 10px;
  }
}

.medium {
  width: 75%;
}

.ginput_container {
  input {
    background: darken($jazzColor, 1.5%);
    color: $bodyColor;
    @include border-radius(2px);
    padding: 10px;
    width: 100%;
    @include transition(background .2s ease-in-out);
    &:focus {
      background: white;
    }
  }
  textarea{
    background: darken($jazzColor, 1.5%);
    color: $bodyColor;
    @include border-radius(2px);
    padding: 10px;
    width: 100%;
    height: 150px;
    resize: none;
    @include transition(background .2s ease-in-out);
    &:focus {
      background: white;
    }
  }
}

.gfield_date_month, .gfield_date_day, .gfield_date_year {
  display: inline-block;
  width: 20%;
  label {
    color: lighten($bodyColor, 45%);
    font-weight: bold;
    font-size: .75em;
  }
}

.gfield_radio, .gfield_checkbox {
  list-style-type: none;
  margin: 0;
  input {
    width: auto;
    margin: 0 10px 0 0;
  }
  label {
    font-size: .9em;
  }
}

.gfield_date_day {
  margin: 0 2.5%;
}

.gfield_description {
        color: lighten($bodyColor, 45%);
  font-size: .8em;
  margin: 00.78125% 0 0;
}

.gfield_required, .validation_error, .validation_message {
  color: $alertColor;
}

#gforms_confirmation_message {
  font-size: 1.2em;
  line-height: 160%;
}

.validation_error {
  margin: 0 0 02.34375%;
  font-weight: bold;
}




input:focus::-webkit-input-placeholder {
        color: lighten($bodyColor, 40%);
}

::-webkit-input-placeholder {
   color: lighten($bodyColor, 30%);
   @include transition(all .2s ease-in-out);
}

input:focus:-moz-placeholder {
        color: lighten($bodyColor, 40%);
}

:-moz-placeholder { /* Firefox 18- */
   color: lighten($bodyColor, 30%);
   @include transition(all .2s ease-in-out);
}

input:focus::-moz-placeholder {
        color: lighten($bodyColor, 40%);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: lighten($bodyColor, 30%);
   @include transition(all .2s ease-in-out);
}
