/*

IMAGES
-------------------------------------------

*/

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
  &.alignleft {
    margin: 0 $spacing-l 0 -7em;
    float: left;
    width: percentage(500/940);
    .home & {
      margin: 0 $spacing-xl $spacing-m 0;
      width: percentage(200/940);
    }
  }
  &.fullsize {
    margin: 0 0 $spacing-xl;
  }
  figcaption {
    color: lighten($bodyColor, 20%);
    font-size: 85%;
    line-height: 170%;
    @extend %secondarytype;
  }
}
