/*

OBJECTS
-------------------------------------------

*/

body {
  // background: $borderColor;
  background: lighten($jazzColor, 5%);
}

.contain {
  max-width: 940px;
  margin: 0 auto;
  // width: 100%;
  overflow: hidden;
  @extend %clearfix;
  @include breakpoint(xxl) {
    margin: 0 30px;
  }
  @include breakpoint(s) {
    margin: 0 20px;
  }
}

.content__section {
  margin: 0 0 $spacing-m;
  @extend %clearfix;
  @include breakpoint(m) {
    margin: 0 0 $spacing-xl;
  }
}

.panel {
  background: lighten($linkColor, 56%);
  border-radius: 3px;
  padding: $spacing-m;
  .content__section:only-child {
    margin-bottom: 0;
  }
  h3, p {
    // color: darken($linkColor, 13%);
  }
  @include breakpoint(m) {
    .grid2 {
      width: 25%;
    }
    .grid5 {
      width: 70%;
      margin-right: 0;
    }
    .grid4 {
      width: 100%;
      margin-top: 2em;
      padding-left: 2em;
    }
  }
}

/* Grid
------------------------------------------- */

.columns {
  float: left;
  margin-right: percentage(20/940);
  @include breakpoint(m) {
    margin-right: percentage(30/940);
  }
  &:last-child {
    margin-right: 0;
    @extend .right;
  }
}

.no-margin {
  margin: 0;
}

.grid1 {
  width: 06.3829787%;
}

.grid2 {
  width: 14.893617%;
}

.grid3 {
  width: 23.4042553%;
}

.grid4 {
  width: 31.9148936%;
}

.grid5 {
  width: 40.4255319%;
}

.grid6 {
  width: 48.9361702%;
}

.grid7 {
  width: 57.4468085%;
}

.grid8 {
  width: 65.9574468%;
}

.grid9 {
  width: 74.4680851%;
}

.grid10 {
  width: 82.9787234%;
}

.grid11 {
  width: 91.4893617%;
}

.grid12 {
  width: 100%;
}

.right {
  float: right;
}

.left {
  float: left;
}

.centered {
  @extend %clearfix;
  margin: 0 auto;
  &.grid7 {
    @include breakpoint(xl) {
      width: 75%;
    }
    @include breakpoint(m) {
      width: 100%;
    }
  }
}

@include breakpoint(m) {
  .grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11 {
    width: 100%;
  }
}
