/*

TYPE
-------------------------------------------
Table of Contents

	- Base Type

	- Fonts

	- Headings

	- Text

	- Inline Type

	- Blockquote

	- hr

	- Links

------------------------------------------- */


/*

BASE TYPE
------------------------------------------- */

body {
	font-size: 110%;
	line-height: 140%;
	color: $bodyColor;
	@extend %primarytype;
}

// TYPE SIZE VARIABLES

$text-size-xs: .8em;
$text-size-s: .9em;
$text-size-m: 1em;
$text-size-l: 1.5em;
$text-size-xl: 2em;

$heading-size-s: .95em;
$heading-size-m: 1.25em;
$heading-size-l: 1.35em;
$heading-size-xl: 2em;


/*

FONTS
------------------------------------------- */

%secondarytype {
	// font-family: "adelle-sans",sans-serif;
	font-family: "jaf-facitweb",sans-serif;
}

%primarytype {
	font-family: "ff-meta-serif-web-pro",serif;
}


/*

HEADINGS
------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %secondarytype;
	color: $headingColor;
	margin: 2em 0 .4em;
}

h1 {
	font-size: $heading-size-xl;
	// font-weight: 800;
	margin: 0 0 .8em;
}

h2 {
	font-size: $heading-size-l;
	font-weight: 700;
}


/*

TEXT
------------------------------------------- */
p {
	font-size: 1.1em;
	line-height: 145%;
	margin: 0 0 .9em;
	// text-indent: 1.5em;
}

/*

INLINE TYPE
------------------------------------------- */

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}


/*

BLOCKQUOTE
------------------------------------------- */
blockquote {
	border-left: 2px solid $darkColor;
	margin-left: $spacing-m;
	padding-left: $spacing-m;
	p {
		color: lighten($bodyColor, 15%);
		font-style: italic;
	}
}

/*

HR
------------------------------------------- */

hr {
	border: solid $borderColor;
	border-width: 1px 0 0;
	clear: both;
	margin: $spacing-xl auto;
	height: 0;
	width: auto;
	display: block;
}


/*

LINKS
------------------------------------------- */
a {
	color: $linkColor;
	@include transition(.2s ease-in-out);
	&:hover {
		color: darken($linkColor, 5%);
	}
}

/*

ICON FONT
------------------------------------------- */

[data-icon]:before {
  content: attr(data-icon);
  // @include iconfont;
  speak: none;
  vertical-align: top;
}
