/*

TYPE
-------------------------------------------
Table of Contents

	- Base Type

	- Fonts

	- Headings

	- Text

	- Inline Type

	- Blockquote

	- hr

	- Links

------------------------------------------- */


/*

BASE TYPE
------------------------------------------- */

body {
	font-size: 106%;
	line-height: 160%;
	color: $bodyColor;
	@extend %primarytype;
	@include breakpoint(m) {
		font-size: 83%;
	}
}

// TYPE SIZE VARIABLES

$text-size-xs: .8em;
$text-size-s: .9em;
$text-size-m: 1em;
$text-size-l: 1.5em;
$text-size-xl: 2em;


$heading-size-xxs: .9em;
$heading-size-xs: .95em;
$heading-size-s: 1.1em;
$heading-size-m: 1.2em;
$heading-size-l: 1.4em;
$heading-size-xl: 2em;


/*

FONTS
------------------------------------------- */

%secondarytype {
	// font-family: "adelle-sans",sans-serif;
	font-family: "jaf-facitweb",sans-serif;
}

%primarytype {
	font-family: "ff-meta-serif-web-pro",serif;
}


/*

HEADINGS
------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %secondarytype;
	color: $headingColor;
	font-weight: 700;
	line-height: 140%;
	margin: 2em 0 .4em;
	a {
		text-decoration: none !important;
	}
	.site__footer & {
		color: darken($jazzColor, 65%);
	}
}

h1 {
	font-size: $heading-size-xl;
	font-weight: normal;
	margin: 0 0 .8em;
	@include breakpoint(m) {
		font-size: 1.7em;
	}
}

h2 {
	font-size: $heading-size-l;
}

h3 {
	font-size: $heading-size-m;
}

h4 {
	font-size: $heading-size-s;
}

h5 {
	font-size: $heading-size-xs;
}

h6 {
	font-size: $heading-size-xxs;
}


/*

TEXT
------------------------------------------- */
p {
	font-size: 1.1em;
	line-height: 145%;
	margin: 0 0 $spacing-l;
	// text-indent: 1.5em;
}

ul {
	margin: 0 0 $spacing-l $spacing-xl;
	list-style-type: square;
	li {
		font-size: 1.1em;
		margin: 0 0 $spacing-xxs;
	}
}

.inline-list {
	li {
		display: inline;
		margin-right: $spacing-l;
	}
}

ol {
	margin: 0 0 $spacing-l $spacing-xl;
	list-style-type: decimal;
	li {
		font-size: 1.1em;
		margin: 0 0 $spacing-xxs;
	}
}
/*

INLINE TYPE
------------------------------------------- */

strong {
	font-weight: bold;
}

em, cite {
	font-style: italic;
}

:not(pre) > code {
	background: #f5f2f0;
	border-radius: 3px;
	color: $linkColor;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	font-size: 75%;
	padding: 1px 3px;
}


/*

BLOCKQUOTE
------------------------------------------- */
blockquote {
	border-left: 2px solid $darkColor;
	margin-left: $spacing-m;
	padding-left: $spacing-m;
	p {
		color: lighten($bodyColor, 15%);
		font-style: italic;
	}
	small {
		display: block;
		font-size: 90%;
		line-height: 140%;
		font-style: normal;
		margin-top: $spacing-m;
	}
	&.pullquote {
		border-top: 5px solid $darkColor;
		border-left: none;
		float: right;
		font-size: 130%;
		padding: $spacing-m 0 0;
		margin: 0 -7em $spacing-xl $spacing-l;
		width: percentage(500/940);
		@include breakpoint(m) {
			margin: 0 0 $spacing-xl $spacing-l;
		}
		@include breakpoint(s) {
			border-bottom: 5px solid $darkColor;
			width: 100%;
		}
		.home & {
			border-top: none;
			margin: 0;
			padding: 0;
			width: auto;
		}
	}
}

.the-book {
	h3 {
		margin-top: 0;
	}
	.pullquote {
		position: relative;
		font-size: 92%;
		line-height: 170%;
		p {
			color: $bodyColor;
			position: relative;
			z-index: 2;
		}
		&:before {
			color: lighten($linkColor, 52%);
			content: "“";
			font-size: 10em;
			font-style: italic;
			position: absolute;
			top: 45px;
			left: -40px;
			z-index: 1;

		}
	}
}

/*

HR
------------------------------------------- */

hr {
	border: solid $borderColor;
	border-width: 1px 0 0;
	clear: both;
	margin: 3em auto;
	height: 0;
	width: auto;
	display: block;
}


/*

LINKS
------------------------------------------- */
a {
	color: $linkColor;
	text-decoration: underline !important;
	@include transition(.2s ease-in-out);
	&:hover {
		color: darken($linkColor, 5%);
	}
}

/*

ICON FONT
------------------------------------------- */

@include embed-font("swb_icon_font", "../fonts/swb_icon_font/swb_icon_font");
%icon-font {
	font-family: "swb_icon_font";
}

[data-icon]:before {
  content: attr(data-icon);
  @extend %icon-font;
  speak: none;
  vertical-align: top;
}
